.card-content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 60%;
    flex-direction: column;
    min-width: 800px;
}
.card-content__ask {
    background-color: rgb(71, 71, 226);
    justify-content: center;
    align-items: center;
    display: flex;

    min-height: 300px;

}
.card-content__title > h3{
    font-size: 30px;
    color: white;
}
.card-content__options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 15px;

}
.card-content__options > button{
    min-width: 50%;
    border-radius: 5px;
    border: 2px solid green;
    background-color: #250f77;
    color: white;
    font-size: 15px;
    height: 50px;
}
.card-content__options > button:hover {
    background-color: rgb(44, 172, 87);
}
.results{
    width: 100%;
    height: 350px;
    background-color: #1F0539;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
